body{
  background-color: black;
  font-family: "Papyrus", fantasy;
  color: white;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#startgamesubtext {
  vertical-align: text-bottom;
  color: #11ee11;
  font-family: "Monaco", monospace;
  text-shadow: -1px 1px 0 #ffffff, 2px 2px 9px #ffffff;
}

#startgamesubtext:hover{
  font-size: 10em;
  color: blue;
  transition: font-size 5s, color 5s;
}

#redpiece {
  color: red;
}

#bluepiece {
  color: blue;
}
